# editorconfig for C++, C, and CMake projects
root = true

# all C++ and C files
[*.{h,hpp,c,cpp,inl,cxx,hxx}]
charset = utf-8
indent_style = tab
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# CMake files
[*.{cmake,CMakeLists.txt}]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true