# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Object files and linker output for C
*.ko
*.elf
*.ilk
*.map
*.exp

# Shared objects (inc. Windows DLLs)
*.so.*

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.lock

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# IntelliJ project files
.idea/
*.iml
out/
gen/

# JetBrains IDE build directories
.idea_modules/
*.ipr
*.iws
build/
cmake-build-*/

# CLion files
.cmake/

# Downloaded modules
cache/