[submodule "/home/geugenm/CLionProjects/basic-game-engine/modules/CPM.cmake"]
	path = /home/geugenm/CLionProjects/basic-game-engine/modules/CPM.cmake
	url = https://github.com/cpm-cmake/CPM.cmake.git
